repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast                 # Python syntax check
      - id: debug-statements          # No debugger/breakpoint statements
      - id: check-docstring-first     # Docstring before code
